.hero {
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
}

.hero_section {
    display: grid;
    place-items: center;
}

.herotxt {
    text-align: center;
    max-width: 800px;
}

/* TOPO */
.herotxt h3 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

/* TITULO PRINCIPAL */
.herotxt h1 {
    font-family: "Outfit", sans-serif;
    font-size: 54px;
    line-height: 58px;
    font-weight: 800;
    margin-bottom: 24px;
    letter-spacing: -1px;
}

/* DESCRIÇÃO */
.herotxt p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 42px;
}

/* BTN HERO */

.Btn-Container {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 2px 10px;
    background-color: #101010;
    border-radius: 40px;
    box-shadow: 0px 5px 10px #bebebe;

    cursor: pointer;
    border: none;

    transition: transform 0.2s ease;
}

.Btn-Container:hover {
    transform: scale(1.05);
}

/* Ícone */
.icon-Container {
    width: 42px;
    height: 42px;
    background-color: #4ea356;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #1d2129;
}

/* Texto */
.text {
    color: #f6f6f6;
    font-size: 1rem;
    padding: 0 6px;
    letter-spacing: 1px;
}

/* Animação */
.icon-Container svg {
    transition-duration: 1.5s;
}

.Btn-Container:hover .icon-Container svg {
    animation: arrow 1s linear infinite;
}

@keyframes arrow {
    0% {
        opacity: 0;
        margin-left: 0px;
    }

    100% {
        opacity: 1;
        margin-left: 10px;
    }
}

/*CARROSSEL AUTO PLAY */
.carousel {
    overflow: hidden;
    width: 100%;
    padding-top: 64px;
}

.track {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
}

.group {
    display: flex;
    gap: 24px;
    margin-left: 24px;
}

/* TAMANHO PADRÃO DAS CARDS */
.card {
    width: 300px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 8px;
    overflow: hidden;
}

/* IMAGEM SEM DISTORCER */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ANIMAÇÃO */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-25%);
    }
}

/* TEXTO ANIMADO */

.scroll-reveal {
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.reveal-text {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    font-family: "Inter", sans-serif;
}

/* cada linha */
.line {
    display: block;
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

/* quando aparece */
.line.show {
    opacity: 1;
    transform: translateY(0);
}

/* SERVIÇOS */

.servicos {
    margin-top: 120px;
    display: grid;
    place-items: center;
    background-color: #ececec;
}

.servicos_section {
    padding-top: 42px;
    padding-bottom: 42px;
    display: grid;
    place-items: center;
}

.servicos_txt h1 {
    font-family: "Outfit", sans-serif;
    font-size: 32px;
    font-weight: 800;
}

/* GRID DOS CARDS */
.servicos_sc_cards {
    margin-top: 42px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
}

/* CARD */
.serv_cards {
    background-color: #f6f6f6;
    padding: 24px;
    width: 340px;
    height: auto;
    border-radius: 12px;
    border: 2px solid #95c89a;

    /* EFEITOS */
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* BRILHO ANIMADO */
.serv_cards::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.4),
            transparent);
    transition: 0.5s;
}

/* HOVER DO CARD */
.serv_cards:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    border-color: #1c6123;
}

/* BRILHO PASSANDO */
.serv_cards:hover::before {
    left: 100%;
}

/* ÍCONE */
.icone_card {
    background-color: #b8dabb;
    width: 54px;
    height: 54px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    margin-bottom: 22px;

    transition: all 0.3s ease;
}

/* ANIMAÇÃO DO ÍCONE */
.serv_cards:hover .icone_card {
    transform: scale(1.1) rotate(5deg);
    background-color: #95c89a;
}

/* TEXTO */
.cardtxt h2 {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    transition: 0.3s;
}

.cardtxt p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

/* HOVER TEXTO */
.serv_cards:hover h2 {
    color: #1c6123;
}

.serv_cards:hover p {
    color: #444;
}

/* RESPONSIVIDADE */

@media (max-width: 1024px) {
    .hero {
        padding-top: 100px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 32px;
    }

    .herotxt h1 {
        font-size: 44px;
        line-height: 48px;
    }

    .herotxt p {
        font-size: 15px;
    }

    .carousel {
        padding-top: 54px;
    }

    .scroll-reveal {
        padding-top: 54px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .reveal-text {
        font-weight: 500;
        line-height: 28px;
        font-size: 22px;
        text-align: center;
    }

    /* SERVIÇOS */
    .servicos {
        margin-top: 72px;
    }

    .servicos_section {
        padding-top: 42px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 42px;
    }

    .servicos_sc_cards {
        margin-top: 42px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 22px;
        row-gap: 22px;
    }

    .serv_cards {
        width: 300px;
        height: auto;
        padding: 24px;
    }

    .icone_card {
        width: 42px;
        height: 42px;
        margin-bottom: 16px;
    }

    .cardtxt h2 {
        font-size: 16px;
    }

    .cardtxt p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .hero {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 16px;
    }

    .herotxt h3 {
        font-size: 16px;
    }

    .herotxt h1 {
        font-size: 42px;
        line-height: 38px;
    }

    .herotxt p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .icon-Container {
        width: 36px;
        height: 36px;
    }

    .text {
        font-size: 0.9rem;
    }

    .Btn-Container {
        padding: 2px 8px;
    }

    /* Carrosel */
    .carousel {
        padding-top: 44px;
    }

    .card {
        width: 240px;
        height: 164px;
        flex-shrink: 0;
        border-radius: 6px;
        overflow: hidden;
    }

    .reveal-text {
        max-width: 700;
        line-height: 22px;
        font-size: 18px;
    }

    /* SERVIÇOS */
    .servicos {
        margin-top: 44px;
    }

    .servicos_txt h1 {
        font-size: 24px;
    }

    .servicos_section {
        padding-top: 44px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 44px;
    }

    .servicos_sc_cards {
        margin-top: 32px;
        grid-template-columns: 1fr;
        row-gap: 22px;
    }

    .serv_cards {
        width: 350px;
        height: 132px;
        padding: 18px;
    }

    .icone_card img {
        width: 100%;
        height: 20px;
    }

    .icone_card {
        width: 42px;
        height: 42px;
        margin-bottom: 16px;
    }

    .cardtxt h2 {
        font-size: 16px;
    }

    .cardtxt p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .hero {
        padding-top: 60px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .herotxt h1 {
        font-size: 32px;
        line-height: 32px;
    }

    .herotxt p {
        font-size: 13px;
    }

    .icon-Container {
        width: 32px;
        height: 32px;
    }

    .text {
        font-size: 0.8rem;
    }

    .Btn-Container {
        padding: 2px 4px;
    }
}